.carrusel{
  padding-bottom: 2em;
}
#about
{
  height: 642px;
}
#servicios{
  height: 642px;
  width: 1140px;
}
#logo{
  background-color: white;
  width: 241px;
  height: 52px;
}
#servi
{
  padding-bottom: 1em;
}

#tecno{
  padding-bottom: 1em;
}
#saludo{
  padding-bottom: 1em;
}
.arriba{
  border: 1px solid black;
  padding:1em;
}
@media only screen and (max-width: 600px)
{
  #logo
  {
    width: 141px;
    height: 50px;
  }
 .movil
 {
   display: none;
 }
}
@media only screen and (orientation:landscape)
{
  #about
  {
    width: 100%;
    height: auto;
  }
  #servicios{
    height: auto;
    width: 100%;
  }
}
@media only screen and (min-width: 600px)
{
  #about
  {
    width: 100%;
    height: auto;
  }
  #servicios{
    height: auto;
    width: 100%;
  }
}